<h2 data-ng-bind="appName"></h2>

<span data-ng-bind="application | json"></span>

<div data-ng-repeat="(name, feature) in application.features">
  <div class="feature">
    <div class="block contents">
      <h3 data-ng-click="showing = !showing" data-ng-bind="name"></h3>

      <div>
        <hr>

        <label>Enabled
        <input type="checkbox" data-ng-model="feature.config.enabled"></label>

        <h5>Users</h5>
        <span data-ng-show="feature.config.users.length == 0"><small>no selection</small></span>
        <input type="text" data-pillbox="feature.config.users" class="pillbox">

        <h5>Groups</h5>
        <span data-ng-show="feature.config.groups.length == 0"><small>no selection</small></span>
        <input type="text" data-pillbox="feature.config.groups" class="pillbox">

        <h5>Range</h5>
        <ul>
        <li data-ng-repeat="variant in feature.variants" data-ng-bind="variant"></li>
        </ul>

        <div data-slider="{values: [1, 20, 100]}"></div>

      </div>
    </div>
  </div>

</div>