<div class="feature" data-ng-class="{wip:settings.wip}">
  <div class="block contents">
    <h3 class="title" data-ng-click="hiding = !hiding"><span data-ng-bind="settings.name"></span><small data-ng-show="settings.wip" class="wip"> - WIP</small></h3>

    <div class="controls" data-ng-hide="hiding">

      <form name="{{settings.name}}" data-ng-submit="submit(settings.update.method, settings.update.action, settings.update.fields)">
        <label data-ng-hide="settings.wip">Enabled <input name="enabled" type="checkbox" data-ng-model="settings.update.fields.enabled.value"></label>

        <label data-ng-hide="settings.wip">Released <input name="released" type="checkbox" data-ng-model="settings.update.fields.released.value"></label>

        <h4>Variants</h4>

        <label>Control</label>
        <select name="control" data-ng-model="settings.update.fields.control.value" data-ng-options="variant.value as variant.value for variant in settings.groups">
        </select>

        <label>Target</label>
        <select name="target" data-ng-model="settings.update.fields.target.value" data-ng-options="variant.value as variant.value for variant in settings.groups">
        </select>

        <input type="submit" value="Save Settings">
      </form>

      <div class="variants">
        <div data-ng-repeat="variant in settings.groups" data-ng-include data-src="'partials/variant.html'"></div>
      </div>
      
      <div class="clearfix"></div>
    </div>
  </div>
</div>